*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.header-container{
    background-color: #C4D69A;
    padding: 0px 50px;
    width: 100%;
}

.navbar-logo{
    width: 150px;
    margin-right: 100px;
}

.navbar-container{
    background-color: #C4D69A;
    display: flex;
}

.enlaces{
    display: flex;
}

.nav-item{
    font-size: 30px;
    display: flex;
    margin-left: 10px;
}

.nav-link{
    text-decoration: none;
}

.img-fondo-index{
    width: 100%;
    height: auto;
}

.hero{
    text-align: center;
    background-color: #76b1b1;
    padding: 0px 50px;
}

.hero-container{
    position: relative;
    display: inline-block;
}

.hero-title{
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 100px;
    color: black;
}

.hero-container-p{
    font-size: 50px;
    padding: 40px;
    background-color: #C4D69A;
}

.grid-container-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.grid-item-index {
    display: flex;
    text-align: center;
    font-size: 30px;
}

.grid-item-index img {
    width: 100%;
    display: flex;
}

.text-index {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .grid-container-index {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }
   
    .grid-item-index:nth-child(3) {
        order: 4; /* Cambia el orden con respecto al elemento 4 */
    }

    .grid-item-index:nth-child(4) {
        order: 3; /* Cambia el orden con respecto al elemento 3 */
    }
}

.footer {
    background-color: #191919;
    padding: 30px;
    text-align: center;
}
  
.social {
    display: flex;
    justify-content: center;
    gap: 20px;
}
  
.social a {
    display: inline-block;
    text-decoration: none;
}
  
.social img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}
  
.social img:hover {
    transform: scale(1.2);
}

.productos-container{
    background-color: black;
    color: #fff;
    width: 300px;
    margin: 10px;
}

.img-fondo{
    width: 100%;
}

.map-contacto{
    display: flex;
    justify-content: center;
    background-color: green;
    padding-top: 20px;
}

.contact-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.contact-form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.faq-title{
    padding: 30px 70px;
    color: blue;
}

.ask-question{
    margin-left: 70px;
}

.questions h3 {
    color: blue;
}

.ask-question-container{
    background-image: url(../assets/cielo2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
}