* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.header-container {
  display: flex;
  text-align: center;
  width: 100%;
  background-color: #C4D69A;
}
.header-container .navbar-brand {
  font-family: "Nerko One";
  font-size: 40px;
  margin-left: 50px;
  margin-right: 60px;
  transition: transform 0.5s ease;
}
.header-container .navbar-brand:hover {
  transform: scale(1.1);
  color: #fff;
}
.header-container .navbar-nav {
  display: flex;
  width: 100%;
}
.header-container .navbar-nav .nav-links {
  font-size: 20px;
  text-decoration: none;
  color: #191919;
  text-transform: uppercase;
  margin-right: 25px;
  padding: 10px;
  transition: background-color 0.5s ease, color 0.5s ease;
  border-radius: 20px;
}
.header-container .navbar-nav .nav-links:hover {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #191919;
  padding: 30px;
  text-align: center;
}
.footer .social {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer .social a {
  display: inline-block;
  text-decoration: none;
}
.footer .social img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}
.footer .social img:hover {
  transform: scale(1.2);
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6B8E23;
  padding: 20px;
}

.banner-content {
  max-width: 40%;
  margin-left: 50px;
  text-align: center;
}

.banner-title {
  padding-bottom: 30px;
}

.banner-text {
  padding-bottom: 30px;
  font-size: 20px;
}

.index-boton {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #C4D69A;
  color: #191919;
  border-radius: 20px;
  transition: background-color 0.5s;
}
.index-boton:hover {
  background-color: #425021;
  color: #fff;
}

.banner-image img {
  max-width: 70%;
  height: auto;
  animation: swing 2s infinite;
}
@keyframes swing {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.hero-main {
  padding: 20px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hero-container {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #FAF3E0;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.hero-container img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  transition: transform 0.5s;
}
.hero-container img:hover {
  transform: scale(1.05);
}

.hero-container h2 {
  margin-top: 10px;
  font-size: 24px;
}

.hero-container p {
  margin-top: 10px;
}

.titles {
  display: flex;
  padding: 60px;
  background-color: #6B8E23;
}
.titles h1 {
  margin-left: 25%;
  margin-right: 25%;
}

.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  color: #333;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.titles {
  display: flex;
  padding: 60px;
  background-color: #6B8E23;
}
.titles h1 {
  margin-left: 25%;
  margin-right: 25%;
}

.faq-title {
  padding: 30px 70px;
  color: blue;
}

.ask-question-container {
  background-image: url(../assets/cielo2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: bold;
}
.ask-question-container .ask-question {
  margin-left: 70px;
}
.ask-question-container .ask-question h3 {
  color: blue;
}

.nosotros-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin: 40px 0;
}

.titles {
  display: flex;
  padding: 60px;
  background-color: #6B8E23;
}
.titles h1 {
  margin-left: 25%;
  margin-right: 25%;
}

.nosotros-container .nosotros-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.nosotros-container .nosotros-text {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.titles {
  display: flex;
  padding: 60px;
  background-color: #6B8E23;
}
.titles h1 {
  margin-left: 25%;
  margin-right: 25%;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}
.product-container .product-card {
  background-color: #ccd5ae;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.product-container .product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}
.product-container .product-card p {
  margin: 0;
  font-size: 16px;
  color: #555;
}
.product-container .product-card h3 {
  margin: 0 0 10px;
  font-size: 18px;
}
.product-container .product-card .costo {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.5s, transform 0.5s;
  cursor: pointer;
}
.product-container .product-card .costo:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

@media (max-width: 990px) {
  .banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner-container .banner-image {
    padding-top: 30px;
    align-items: center center;
    margin-left: 200px;
  }
}
@media (max-width: 990px) {
  .nosotros-container {
    grid-template-columns: 1fr;
  }
  .nosotros-text {
    text-align: center;
  }
}
@media (max-width: 990px) {
  .hero-container {
    flex: 1 1 100%;
  }
}
@media (max-width: 600px) {
  .contact-form-container {
    padding: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
