.nosotros-container{

    .nosotros-img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .nosotros-text {
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
    }
}