.footer {
    background-color: #191919;
    padding: 30px;
    text-align: center;

    .social {
        display: flex;
        justify-content: center;
        gap: 20px;

        a {
            display: inline-block;
            text-decoration: none;
        }
          
        img {
            width: 30px;
            height: 30px;
            transition: transform 0.3s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}