.header-container{
    background-color: #C4D69A;
    padding: 0px 50px;
    width: 100%;

    .navbar-logo{
        width: 150px;
        margin-right: 100px;
    }

    .nav-item{
        font-size: 30px;
        display: flex;
        margin-left: 10px;
    }
}